@import url(../reindeer/styles.css);

.v-textfield-visible.v-disabled{
     border: 1px solid #b6b6b6;
     border-top-color: #9d9d9d;
     border-bottom-color: #d6d6d6;
     border-right-color: #d6d6d6;
     color: #464f52;
     opacity: 1.0;
}



